.ui.basic.segment
  %h1.ui.header
    Photos for Property
    %span#property-id 31415926535

.ui.segment
  .ui.two.column.stackable.grid
    .column
      #image.ui.basic.segment
        %img.ui.image{:src => "/images/loader-large.gif"}
    .column
      #ticker.ui.small.images
