.ui.basic.segment
  %h1.ui.center.aligned.header
    Photos for Property
    %span#property-id 31415926535

  #gallery
    #image.ui.segment
      %img#bigimage.ui.image{:src => "/images/loader-large.gif"}
      %p#description.ui.basic.center.aligned.segment 
    .ui.segment
      #ticker.ui.small.images
