.ui.basic.segment
  %h1.ui.header
    Photos for Property
    %span#property-id 31415926535

  #gallery
    .ui.segment
      %img#bigimage.ui.image
      %p#description.ui.basic.center.aligned.segment 
    .ui.segment
      #ticker.ui.small.images
