.ui.basic.segment
  %h1.ui.header
    Property
    %span#property-id 31415926535
    Photos
  #gallery
    .ui.segment
      %img#bigimage.ui.image{:src => "http://placekitten.com/640/480"}
      %p#description.ui.basic.center.aligned.segment Cute, huh?
    .ui.segment
      #ticker.ui.small.images
