/* CSS for the Property Photo Gallery app */
/* Tamara Temple <tamara@tamaratemple.com> */

body {
    font-family: Open-Sans, sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding:0
}

#content {
    padding-top: 60px;
    margin: 0 auto;
}

body.vertical #content {
    max-width: 700px;
}

body.vertical #image {
    max-height: 600px;
    min-height: 600px;
}
body.vertical #bigimage {
    max-height: 480px;
    margin: 0 auto;
}

body.vertical #ticker {
    max-width: 640px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
